@model Contact

<tr hx-trigger='cancel' class='editing' hx-get="@Url.Page("Index", "View", new { Id = Model.Id })">
    <td>
        <input type="hidden" asp-for="@Model.Id"/>
        <input asp-for="@Model.Name">
        @Html.AntiForgeryToken()
    </td>
    <td>
        <input asp-for="@Model.Email">
    </td>
    <td>
        <button class="btn btn-danger" hx-get="@Url.Page("Index", "View", new { Id = Model.Id })">
            Cancel
        </button>
        <button class="btn btn-danger" hx-put="@Url.Page("Index", "Update", new { Id = Model.Id })" hx-include="closest tr">
            Save
        </button>
    </td>
</tr>